
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="alert alert-success">
        Your Payment Successfully, Total Price: @ViewBag.TotalPrice ! Your PRN: @ViewBag.PRN.
    </div>

