
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="colorlib-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="wrap-division">
                                <div class="col-md-12 col-md-offset-0 heading2 animate-box">
                                    <h2>Hotel Edison</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 animate-box">
                                        <div class="room-wrap">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="room-img" style="background-image: url(/Assets/Client/images/Train/trainseat1.jpg);"></div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="desc">
                                                        <h2>Family Room</h2>
                                                        <p class="price"><span>$45</span> <small>/ night</small></p>
                                                        <p><a href="#" class="btn btn-primary">Book Now!</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 animate-box">
                                        <div class="room-wrap">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="room-img" style="background-image: url(/Assets/Client/images/Train/trainseat2.jpg);"></div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="desc">
                                                        <h2>Luxury Room</h2>
                                                        <p class="price"><span>$75</span> <small>/ night</small></p>
                                                        <p><a href="#" class="btn btn-primary">Book Now!</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 animate-box">
                                        <div class="room-wrap">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="room-img" style="background-image: url(/Assets/Client/images/Train/trainsleep.jpg);"></div>
                                                </div>
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="desc">
                                                        <h2>Double Room</h2>
                                                        <p class="price"><span>$40</span> <small>/ night</small></p>
                                                        <p><a href="#" class="btn btn-primary">Book Now!</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SIDEBAR-->
                <div class="col-md-3">
                    
                </div>
            </div>
        </div>
    </div>

