@model  TrainManagementWeb.Models.ViewModel.SearchBookingViewModel
<div id="hotel" class="tab-pane fade">
    <form method="get" action="/Booking/GetListBooking" class="colorlib-form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date">PRN no:</label>
                    <div class="form-field">
                        @Html.TextBoxFor(model => model.PRNno, new { @class = "form-control", @placeholder = "Your PRN no..", @type = "text" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="date">Phone number:</label>
                    <div class="form-field">
                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @placeholder = "Your phone number..", @type = "text" })

                    </div>
                </div>
            </div>

            <div class="col-md-2">

            </div>
            <div class="col-md-2">
                <input type="submit" name="submit" id="submit" value="Find Reservation " class="btn btn-primary btn-block">
            </div>
        </div>
    </form>
</div>

@*<div id="hotel" class="tab-pane fade">
        <form method="post" class="colorlib-form">
            <div class="row">
                <div class="col-md-2">
                    <div class="booknow">
                        <h2>Book Now</h2>
                        <span>Best Price Online</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">Check-in:</label>
                        <div class="form-field">
                            <i class="icon icon-calendar2"></i>
                            <input type="text" id="date" class="form-control date" placeholder="Check-in date">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="date">Check-out:</label>
                        <div class="form-field">
                            <i class="icon icon-calendar2"></i>
                            <input type="text" id="date" class="form-control date" placeholder="Check-out date">
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="guests">Guest</label>
                        <div class="form-field">
                            <i class="icon icon-arrow-down3"></i>
                            <select name="people" id="people" class="form-control">
                                <option value="#">1</option>
                                <option value="#">2</option>
                                <option value="#">3</option>
                                <option value="#">4</option>
                                <option value="#">5+</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="submit" name="submit" id="submit" value="Find Hotel" class="btn btn-primary btn-block">
                </div>
            </div>
        </form>
    </div>*@