
@{
    ViewBag.Title = "SuccessCancel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    Your Cancel Booking PRN: @ViewBag.PRN Successfully !. And your refund money: @ViewBag.RefundMoney
</div>
